{% extends 'base.html' %}
{% load static %}



<!-- contents -->
{% block content %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Admission Requirements</h2>
                <p>Admission Requirements for computer science department.</p>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="card mt-5">
        <h5 class="card-header">UTME Entry</h5>
        <div class="card-body">
            <p class="card-text">In addition to the University entry requirement, candidate for our programme must have
                credit in English Language, Mathematics, Physics and any two subjects from Chemistry, Biology, Further
                Mathematics and Statistics in WASC, SSCE, GCE, NECO or their equivalent examinations in at most two
                sittings.</p>
        </div>
    </div>

    <div class="card mt-5 mb-5">
        <h5 class="card-header">Direct Entry (DE)</h5>
        <div class="card-body">
            <p class="card-text">Direct entry candidates also do four year program in Computer Science Department but
                direct entry candidate who possess the Diploma in Statistics and Computer Application
                may be considered, on individual merit, for a waiver of some courses..</p>
        </div>
    </div>



</div>

{% endblock %}